#all-filters{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 60px;
}

.filter-wrapper{
    position: relative;
    display: inline-block;
    min-width: 160px;
    border-top: 0.5px solid;
    border-bottom: 0.5px solid;
    margin: 10px;
}

.filter-wrapper > div:nth-child(1){
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.filter-wrapper > div:nth-child(1) > div{
    flex-grow: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    height: 200px;
    overflow: scroll;
}

.dropdown-content > div{
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: 0.5px solid lightgrey;
    padding-left: 15px;
    padding-right: 15px;
}

.dropdown-content > div > div:nth-child(1){
    flex-grow: 1;;
}

.product-img > img{
    border: 0.2px solid #e4e3e3;
}

#count-wrapper{
    display: flex;
}

#count-wrapper > p{
    margin-right: 20px;
}

#count-wrapper > p:hover{
    cursor: pointer;
}

#all-filters-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cat-title{
    padding-top: 20px;
}

#btnBox{
    display: flex;
    justify-content: center;
    align-items: center;
}