body{
    margin: 0px;
}

#header{
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;
}

#title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300; 
    letter-spacing: 3px;  
    text-align: center;
    margin-left: 60px;
    margin-right: 20px;
    font-size: 30pt;
}

#header > p{
    margin: 10px;
}

#navigation{
    height: 50px;
    border-bottom: 1px solid black;
    display: flex;
    padding-left: 60px;
}

.nav-title{
    display: flex;
    align-items: center;
    margin-right: 50px;
    position: relative;
    padding: 10px;
}

.nav-title:hover{
    cursor: pointer;
    font-weight: bold;
}

#wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.product-img >img:hover{
    border: 0.5px solid;
}

.product-info > p{
    margin: 5px;
}

.product-info > .brand-name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 8pt;
    margin-top: 3px;
}

.product-info > .price{
    margin-top: 9px;
}

#hover-div{
    position: absolute;
    top: 51px;
    width: 60vw;
    background-color: white;
    left: -100px;
    padding: 40px;
    z-index: 3;
    border: 1px solid;
    border-top: 0px;
}


#cat-wrapper{
    display: flex;
}

#hover-div > :nth-child(1){
    margin-bottom: 30px;
}

#cat-wrapper > div{
    flex-grow: 1;
}

#cat-wrapper > div > p{
    margin: 2px;
    font-weight: 200;
}

#cat-wrapper > div > p:hover{
    cursor: pointer;
    font-weight: bold;
}

.hidden{
    display: none;
}

.product-info{
    display: flex;
    flex-direction: column;
    height: 100px;
}

.product-info > :nth-child(2){
    flex-grow: 1;
}

.price{
    font-weight: bold;
}

#first-page-images-wrapper{
    display: flex;
    border-top: 15px solid black;
    border-bottom: 10px solid black;
}

.first-page-img{
    flex-grow: 1;
    height: 650px;
    background-position: center;
    background-size: cover;
}

#men:hover, #women:hover{
    cursor: pointer;
    font-weight: bold;
}
