body{
    margin: 0px;
}
#product-wrapper{
    display: flex;
    padding: 40px;
}

#product-all-images{
    display: grid;
    grid-template-columns: 150px 530px ;
    padding-left: 60px;
}

#product-small-img-wrapper{
    display: grid;
    position: relative;
    grid-template-rows: 150px 150px 150px;
    gap: 40px;
}

.product-images > img{
    height: 150px;
    border: 0.5px solid lightgray;
    
}

.product-images > img:hover{
    border: 0.5px solid black;
}

.main-img > img{
    width: 450px;
    height: auto;
}

.main-img > img{
    border: 0.5px solid lightgray;
}

.brand{
    font-family: monospace;
    font-weight: bold;
}

.name, .price{
    font-size: 16pt;
    font-weight: bold;
}

#info-wrapper{
    padding-top: 40px;
}

#similar-wrapper{
    width: 100vw;
    margin-top: 20px;
}

#similar-wrapper > h4{
    margin: 0px;
    padding-left: 20px ;
}

#similar-products-wrapper{
    display: flex;
    overflow-y: scroll;
    padding: 20px;
}

#similar-products-wrapper > .product-wrapper{
    padding: 20px;
}

#similar-products-wrapper > .product-wrapper > .product-img > img {
    width: 250px;
    border: 0.5px solid lightgray;
}

#similar-products-wrapper > .product-wrapper > .product-img > img:hover {
    border: 1px solid black;
}

#similar-products-wrapper > .product-wrapper > .product-info > .price {
    font-size: 11pt;
    margin-top: 0px;
}